:root {
    --main-color: #000091;
  }

.navbar{
    background-color: var(--main-color);
}
.navbar .title {
    color: white;
    margin: -4px;
}

.title{
    padding: 20px;
    
}
.subtitle{
    margin-top: var(--bulma-block-spacing);
    text-decoration: underline;
}